.footer{
    margin-top: 5rem;
    background: #222;
    width: 100%;
    min-height: 300px;
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.footer .grid-3{
    gap: 50px;
}

.footer .flex .about{
    width: 100%;
}

.footer .flex .about h1{
    font-family: var(--roboto);
    font-size: 1.5rem;
    color: tomato;
    font-weight: 700;
}

.footer .flex .about p{
    font-family: var(--roboto);
    font-size: 1rem;
    color: #fff;
}

.footer .flex .navigation{
    width: 100%;
}

.footer .flex .navigation h3{
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 1.5rem;
    color: tomato;
}

.footer .flex .navigation ul li a{
    color: #fff;
    font-family: var(--roboto);
    font-size: 1rem;
}

.footer .flex .navigation ul li a.active{
    color: tomato;
}

.footer .flex .contact{
    width: 100%;
}

.footer .flex .contact h3{
    font-family: var(--roboto);
    color: tomato;
    font-size: 1.5rem;
    font-weight: 700;
}

.footer .flex .contact ul{
    display: flex;
    flex-direction: column;
}

.footer .flex .contact ul li p{
    font-family: var(--roboto);
    font-size: 1rem;
}

.footer .flex .contact ul li{
    margin-top: 20px;
    font-family: var(--roboto);
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.footer .flex .contact ul li a{
    color: #fff;
}

.footer .flex .contact ul li svg{
    width: 20px;
    color: tomato;
    margin-right: 5px;
}

.footer-bottom{
    height: 70px;
    background: tomato;
    margin-bottom: 0px;
    padding: 1.4% 0px;
}

.footer-bottom p{
    text-align: center;
    color: #fff;
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 700;
}

@media(max-width: 600px){
    .footer .grid-3{
        grid-template-columns:1fr;
    }
}